#blu-bar{
    height: 150px;
    background-color: $primary;
    color: #fff;
    .container{
        height: 100%;
        justify-content: space-between;
    align-items: center;
    img{
        width: 50px;
    }
    span{
        margin-left: 15px;
    }
    }

}