header{
    .top-header{
        height: 30px;
        background-color: $primary;
    }
    .main-header{
        height: 100px ;
        padding: 10px 0;
    }
    .main-nav{
        padding-top: 10px;
        ul{
            display: flex;
            align-items: center;
        }
        li{
            margin: 15px;
            list-style-type: none;
        }a{
            text-decoration: none;
            color: black;
        }
    }
}