header{
    .top-header{
        height: 30px;
        background-color: $primary;
    }
    .main-header{
        min-height: 50px;
        align-items: center;
        .header-logo{
            img{
                width: 70px;
            }
        }
        .navbar{
            padding-top: 10px;
            ul{
                display: flex;
                align-items: center;
            }
            li{
                margin: 15px;
                list-style-type: none;
            }a{
                text-decoration: none;
                color: black;
            }
        }
    }
    
}