header{

    .top-header{
        height: 30px;
        background-color: $primary;
        color: #fff;
        .container{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .t-header-text{
                .uppercase{
                    margin-right: 55px;
                }
            }
        }
    }
    .main-header{
        padding: 10px;
        min-height: 50px;
        align-items: center;
        justify-content: space-between;
        .header-logo{
            img{
                width: 70px;
            }
        }
        .navbar{
            padding-top: 10px;
            ul{
                display: flex;
                align-items: center;
                padding-left: 0;
            }
            li{
                margin:0 15px;
                list-style-type: none;
            }a{
                text-decoration: none;
                color: black;
                padding-bottom: 30px;
                font-size: 12px;
                &:hover{
                    border-bottom: 5px solid $primary;
                }
                .active{
                    border-bottom: 5px solid $primary;
                }
            }
        }
        .searchinput{
            margin-top: 10px;
            border-style: unset;
            border-bottom: 1px solid $primary;
            width: 50%;
            &:focus-visible{
                outline: none;
            }
        }
    }
    
}