#home-main{
    height: 50vh;
    background-color: rgb(83, 83, 83);
    color: #fff;
    .d-flex{
        justify-content: center;
        align-items: center;
        h1{
            font-size: 50px;
        }
    }
}