#home-main{
    min-height: 50vh;
    background-color: rgb(83, 83, 83);
    color: #fff;
    .container{
        display: flex;
        flex-wrap: wrap;
        .comics-card{
            margin: 50px 0;
            width: 20%;
        }
    }
}